/* agenda */


.flash {
  padding: 1em;
  color: #f6f3f3;
  background-color: #f60505a8;
  border: 1px solid #ff0b0b;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}
.container-agenda{
    padding: 4px;
}
.container-agenda form{
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
}
.container-agenda form label,input{
    height: 30px;
    border: none;
}
.container-agenda form #nome{
    width: 300px;
}
/* button adicionar */
.container-agenda form button{
    height: 30px;
    width: 80px;
    float: right;
    border: none;
    cursor: pointer;
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
}
.container-agenda form button:hover{
    background-color: var(--bg-color-light-green);
    border: 1px solid var(--bg-color-ciano);
}
/* tabela clientes */
.cliente{
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
    height: 30px;
}
.cliente label,span {
    margin-right: 4px;
}
.cliente label{
    font-weight: 600;
}
.cliente button{
    width: 80px;
    height: 30px;
    float: right;
}
/* button edit */
.cliente #btn-edit-cliente{
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
    border: none;
    cursor: pointer;
    margin-right: 4px;
}
.cliente #btn-edit-cliente:hover{
    border: 1px solid var(--bg-color-ciano);
    background-color: var(--bg-color-yellow);
}

/* button deletar */
.cliente #btn-deletar-cliente{
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
    border: none;
    cursor: pointer;
}
.cliente #btn-deletar-cliente:hover{
    border: 1px solid var(--bg-color-ciano);
    background-color: var(--bg-color-red);
}

@media (max-width: 900px) {

.cliente{
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
    height: 30px;

}
.container-agenda{
    padding: 4px;
}
.container-agenda form{
    display: grid;
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
}

}

@media (max-width: 860px) {
    .container-agenda{
        margin-left: 5rem;
    }
}
