/* agenda */

.container-agenda{
    padding: 4px;
}
.container-agenda form{
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
}
.container-agenda form label,input{
    height: 30px;
    border: none;
}
/* button aicionar */
.container-agenda form button{
    height: 30px;
    width: 80px;
    float: right;
    border: none;
    cursor: pointer;
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
}
.container-agenda form button:hover{
    background-color: var(--bg-color-light-green);
    border: 1px solid var(--bg-color-ciano);
}
/* tabela clientes */
.cliente{
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
    height: 30px;
}
.cliente label,span {
    margin-right: 4px;
}
.cliente span{
    font-weight: 600;
}
.cliente button{
    width: 80px;
    height: 30px;
    float: right;
}
/* button edit */
.cliente #btn-edit-cliente{
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
    border: none;
    cursor: pointer;
    margin-right: 4px;
}
.cliente #btn-edit-cliente:hover{
    background-color: var(--bg-color-yellow);
}

/* button deletar */
.cliente #btn-deletar-cliente{
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
    border: none;
    cursor: pointer;
}
.cliente #btn-deletar-cliente:hover{
    background-color: var(--bg-color-red);
}