
.flash {
    margin-bottom: 10px;
    display: flex;
    color: #000000;
    background-color: #3eee58a8;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.container-agenda{
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
}
.form {
    padding: 8px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    border: 1px solid var(--bg-color-ciano);
}
.form-content label,input{
    height: 30px;
    width: 200px;
}
.lista-agenda{
    padding: 8px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    border: 1px solid var(--bg-color-ciano);
}
.btn{
    height: 30px;
    border: 1px solid var(--bg-color-ciano);
    width: 80px;
    transition: 0.5s;
}
.btn:hover{
    background-color: var(--bg-color-green);
    cursor: pointer;
}


@media (max-width: 900px) {

.cliente{
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
    height: 30px;

}
.container-agenda{
    padding: 4px;
}
.container-agenda form{
    display: grid;
    border: 1px solid var(--bg-color-ciano);
    padding: 4px;
}

}

@media (max-width: 860px) {
    .container-agenda{
        margin-left: 5rem;
    }
}