@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins'/*  */, sans-serif;
}
section{
  display: flex;
  width: 85%;
}

form h1,h2{
  color: #000000;
}
form{
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

.cidade {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
}

section{
background-color: #ffffff;
border-radius: 15px;
flex-direction: column;
}

.dados-pessoais{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.dados-pessoais div{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.endereco{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.endereco div{
  display: flex;
  justify-content: space-between;
}

.botao-cadastrar{
  font-weight: 700;
  color: #002915;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #00C767;
  cursor: pointer;
  margin: 8px;
}