@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}
section{
  display: flex;
  width: 85%;
  justify-content: center;
}

form h1,h2{
  color: #ffffff;
}
form{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.container-cadastro{
background-color: #203B49;
margin: 15px;
border-radius: 15px;
display: flex;
flex-direction: column;
width: 60%;
justify-content: space-around;
}

.dados-pessoais{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.dados-pessoais div{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.endereco{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.endereco div{
  display: flex;
  justify-content: space-between;
}

.botao-cadastrar{
  font-weight: 700;
  color: #002915;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #00C767;
  cursor: pointer;
}

.botao-editar{
  font-weight: 700;
  color: #002915;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 196, 0);
  cursor: pointer;
}

.botao-deletar{
  font-weight: 700;
  color: #002915;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 17, 0);
  cursor: pointer;
}