@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}
section{
  display: flex;
  width: 85%;
  justify-content: center;
}
form h1,h2{
  color: #ffffff;
}
form{
  display: flex;
  margin-top: 30px;
}
.dados-pessoais{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}
.dados-pessoais div{
  display: flex;
  justify-content: space-between;
}

.endereco{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.endereco div{
  display: flex;
  justify-content: space-between;
}