:root{
    /* color background */
    --bg-color-ciano: #278CBA;
    --bg-color-marine: #203B49;
    --bg-color-white: #ffffff;
    --bg-color-green: #00ff15;
    --bg-color-light-green: #4cff5b;
    --bg-color-yellow: #ffc400;
    --bg-color-red: #ff0000;
    --bg-color-white-dark: #f1f1f1;
    /* color text */
    --text-color-white: #fff;
    --text-color-creme: #f5f5f5;
    --text-color-black: #000;
}
.container-criarPront{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-criarPront form{
    padding: 8px;
    border: 1px solid var(--bg-color-ciano);
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 4px;
}
.criar-prontuario-button{
    height: 30px;
    padding: 2px;
    background-color: var(--bg-color-ciano);
    border: none;
    color: var(--text-color-white);
}
.criar-prontuario-button:hover{
    cursor: pointer;
    border: 1px solid var(--bg-color-ciano);
    background-color:var(--bg-color-light-green);
}
.inputs-criar-pront{
    height: 30px;
}
@media (max-width: 800px){
    .container-criarPront{
        margin-left: 5rem;
    }
}

/* flash */
.flash {
  padding: 1em;
  color: #f6f3f3;
  background-color: #f60505a8;
  border: 1px solid #ff0b0b;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}