@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    /* color background */
    --bg-color-ciano: #278CBA;
    --bg-color-marine: #203B49;
    --bg-color-white: #ffffff;
    --bg-color-green: #00ff15;
    --bg-color-light-green: #4cff5b;
    --bg-color-yellow: #ffc400;
    --bg-color-red: #ff0000;
    --bg-color-white-dark: #f1f1f1;
    /* color text */
    --text-color-white: #fff;
    --text-color-creme: #f5f5f5;
    --text-color-black: #000;
}
body{
    font-family: 'poppins';
}
/* Menu hamburguer */
.menu-hamburgue i{
    display: flex;
    align-items: center;
    justify-content: center;
}
label #btn,label #cancel{
    color: var(--text-color-white);
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--bg-color-marine);
    margin: 15px 30px;
    font-size: 28px;
    background-color: var(--bg-color-ciano);
    height: 28px;
    width: 28px;
    text-align: center;
    transition: all .5s ease;
}

/* Sidebar */
.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: var(--bg-color-white);
    transition: all .5s ease;
}

.sidebar header{
    font-size: 28px;
    color: var(--text-color-white);
    line-height: 78px;
    text-align: center;
    background-color: var(--bg-color-marine);
    font-family:'Poppins', sans-serif;
}


.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: var(--text-color-black);
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--bg-color-ciano);
    border-top: 1px solid transparent;
    transition: all .4s ease;
}

a.active{
    background-color: var(--bg-color-ciano);
}

.sidebar a:hover{
    border-left: 5px solid var(--bg-color-marine);
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar{
    left: 0px;
}

#check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 01;
    visibility: visible;
}
#check:checked ~ main {
    margin-left: 15%;
    transition: all .5s ease;
}

/* tag <MAIN> */
main{
    display: flex;
    flex-direction: column;
    background-color:var(--bg-color-white-dark);
    height: 100vh;
}

/* busca */
.search-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: var(--bg-color-marine);
}
.title-pagina{
    margin-left: 5rem;
    color: var(--text-color-white);
}
.search-container form{
    display: flex;
}

.search-container form input{
    width: 300px;
    height: 30px;
    border: none;
    padding: 4px;
}

.search-container form button{
    width: 30px;
    height: auto;
    border: none;
    cursor: pointer;
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
}
/* FLASH MESSAGE */
.flash{
    position: float;
}
.btn-voltar{
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    margin-left: 40px;
    background-color: var(--bg-color-ciano);
    transition: 0.5s;
}
.btn-voltar:hover{
    background-color: var(--bg-color-green);
}
.btn-voltar a{
    color: var(--text-color-white);
}

/*--RESPONSIVIDADE inicio--*/
@media(max-width: 860px){

.sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
}

header,#btn,#cancel{
    display: none;
}

span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
}

.sidebar a{
    height: 60px;
}

.sidebar a i {
    margin-left: -10px;
}
.active:hover{
    background-color: var(--bg-color-ciano);
    color: var(--text-color-white);
}
a:hover {
    width: 200px;
}

.sidebar a:hover span{
    opacity: 1;
    visibility: visible;
}
}
/* RESPOSIVIDADE FIM-- */