section{
    width: 85%;
}
.card-prontuario{
    padding: 20px;
    margin: 30px;
    width: 50rem;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-prontuario h1,h2,h3{
    color: #fff;
    font-weight: 600;
}

tr{
    display:flex;
    align-items: center;
}
table, th, td {
    width: 16rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    font-weight: 400;
    background-color: #203B49;
  }