@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

form {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--bg-color-ciano);
}
/* Add padding to containers */
.container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container div {
  margin: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

input[type=text]:focus, input[type=password]:focus,input[type=email] {
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #203B49;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
  background-color: #017a4e;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.login {
  background-color: #203B49;
  text-align: center;
}

/* flash */
.flash {
  padding: 1em;
  color: #f6f3f3;
  background-color: #f60505a8;
  border: 1px solid #ff0b0b;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

.errorInput {
  border: 2px solid red !important;
}