<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ToothManager</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
        <% if (messages.message){%>
        <div class="message">
            {messages.message}
        </div>
        <% } else { %>
        <% } %>
    <section>
        <div class="imgBx">
            <img src="img/img-dentista-login.jpg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Login</h2>
                <form>
                    <div class="inputBx">
                        <span>Username</span>
                        <input type="text" name=''>
                    </div>
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name=''>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox" name=''> Lembrar-me?</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value='Login' name=''>
                    </div>
                    <div class="inputBx">
                        <p>Esqueceu sua senha? <a href="#">Clique aqui.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>