<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Acesso</title>

    <link rel="stylesheet" href="css/login.css">

</head>

<body>
    <div class="container">
        <% if (messages.message){%>
        <div class="message">
            {messages.message}
        </div>
        <% } else { %>
        <% } %>

    <form class="form" action="#">
        <div class="Card">
            <div class="CardTop">
                <img class="imglogin" src="img/Logo2.png" alt="Logo da Tooth">
                <div class="auth-container">
                    <h2>Entrar</h2>
                    <form action="/login" method="POST">
                        <div class="form-control">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" placeholder="Digite o seu e-mail">
                        </div>
                        <div class="form-control">
                            <label for="senha">Senha:</label>
                            <input type="senha" name="senha" placeholder="Digite a sua senha">
                        </div>

                        <p>Não tem conta? <a href="/register">Clique aqui</a></p>
                    </form>
                </div>

                <div class="CardGroup btn">
                    <button type="submit"><a href="./agenda">ACESSAR</a></button>
                </div>


            </div>

        </div>
</body>

</html>