<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/agenda.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css"> <!-- pagina agenda -->
    <title>Tooth Manager</title>
</head>
<body>
        <%- include('./partials/header')%>
        <main>
        <%- include('./partials/navbar')%>

            <!--Corpo da pagina-->

                <section>
                        <div class="container-prontuario">
                                <form action="">
                                    <div class="busca">
                                        <input type="text" placeholder="Buscar">
                                        <img class="lixeira" src="/img/search.png" alt="">
                                    </div>
                                </form>                        
                            <div class="cards-prontuario">
                                <div class="cards">
                                    <div>
                                        <img  src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Joãozinho Fulano de Tal</a></small>
                                     
                                    </div>
                                    <div>
                                        <span><a class="horas" href="">08:00</a></span>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div>
                                        <img  src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Maria Ciclana dos Santos</a></small>
                                    </div>
                                    <div>
                                        <span><a  class="horas" href="">08:30</a></span>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div>
                                        <img  src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Zezinho de Souza Ciclano</a></small>
                                    </div>
                                    <div>
                                        <span><a  class="horas" href="">09:00</a></span>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div>
                                        <img  src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Juaninha Ciclana</a></small>
                                    </div>
                                    <div>
                                        <span><a  class="horas" href="">09:30</a></span>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div>
                                        <img  src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Juaninha Ciclana</a></small>
                                    </div>
                                    <div>
                                        <span><a  class="horas"href="">10:00</a></span>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div>
                                        <img  src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Juaninha Ciclana</a></small>
                                    </div>
                                    <div>
                                        <span><a class="horas" href="">10:30</a></span>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div>
                                        <img class="deletar" src="/img/lixeira.png" alt="">
                                    </div>
                                    <div>
                                        <small class="nome-cliente"> <a href="">Juaninha Ciclana</a></small>
                                    </div>
                                    <div>
                                        <span><a class="horas" href="">11:00</a></span>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <!--calendário-->
                            <div class="box2">
                            <div class="calendar">
                            <div class="month-indicator">
                            <time datetime="2020-02"> Fevereiro 2020 </time>
                            </div>
                            <div class="day-of-week">
                            <div>Seg</div>
                            <div>Ter</div>
                            <div>Qua</div>
                            <div>Qui</div>
                            <div>Sex</div>
                            <div>Sab</div>
                            <div>Dom</div>
                            </div>
                            <div class="date-grid">
                            <button>
                              <time datetime="2010-02-01">1</time>
                            </button>
                            <button>
                              <time datetime="2020-02-02">2</time>
                            </button>
                            <button>
                              <time datetime="2020-02-03">3</time>
                            </button>
                            <button>
                              <time datetime="2020-02-04">4</time>
                            </button>
                            <button>
                              <time datetime="2020-02-05">5</time>
                            </button>
                            <button>
                              <time datetime="2020-02-06">6</time>
                            </button>
                            <button>
                              <time datetime="2020-02-07">7</time>
                            </button>
                            <button>
                              <time datetime="2020-02-08">8</time>
                            </button>
                            <button>
                              <time datetime="2020-02-09">9</time>
                            </button>
                            <button>
                              <time datetime="2020-02-10">10</time>
                            </button>
                            <button>
                              <time datetime="2020-02-11">11</time>
                            </button>
                            <button>
                              <time datetime="2020-02-12">12</time>
                            </button>
                            <button>
                              <time datetime="2020-02-13">13</time>
                            </button>
                            <button>
                              <time datetime="2020-02-14">14</time>
                            </button>
                            <button>
                              <time datetime="2020-02-15">15</time>
                            </button>
                            <button>
                              <time datetime="2020-02-16">16</time>
                            </button>
                            <button>
                              <time datetime="2020-02-17">17</time>
                            </button>
                            <button>
                              <time datetime="2020-02-18">18</time>
                            </button>
                            <button>
                              <time datetime="2020-02-19">19</time>
                            </button>
                            <button>
                              <time datetime="2020-02-20">20</time>
                            </button>
                            <button>
                              <time datetime="2020-02-21">21</time>
                            </button>
                            <button>
                              <time datetime="2020-02-22">22</time>
                            </button>
                            <button>
                              <time datetime="2020-02-23">23</time>
                            </button>
                            <button>
                              <time datetime="2020-02-24">24</time>
                            </button>
                            <button>
                              <time datetime="2020-02-25">25</time>
                            </button>
                            <button>
                              <time datetime="2020-02-26">26</time>
                            </button>
                            <button>
                              <time datetime="2020-02-27">27</time>
                            </button>
                            <button>
                              <time datetime="2020-02-28">28</time>
                            </button>
                            
                            </div>         
                            </div>        
                            <div class="legenda">
                            <img src="/img/lixeira.png">
                            <p>deletar</p>
                            
                            </div>
                            
                            
                            </div>
                                           
                </section>            
              
        </main>
       
        
        <footer>

        </footer>
</body>
</html>