<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <!-- SCRPIT -->
    <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
    <title>Toothmanager</title>
</head>
<body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
    
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
    
        <!-- <section> coloque seu codigo abaixo da REFERENCIA -->
        <section>
        <!-- Busca -->
        <div class="search-container">
            <div class="title-agenda">
                <h1>Cadastro</h1>
            </div>
    
    
          <form action="#" method="get">
            <input type="text" placeholder="Buscar.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- REFERENCIA -->

        <div class="container-cadastro">
            <form action="" method="post">
                
                <div class="dados-pessoais">
                    <h2>Dados Pessoais</h2>
                    
                        <label for="nome">Nome</label>
                        <input type="text" name="Nome" id="Nome" placeholder="Nome Completo" required>
                    
                    
                        <label for="CPF">CPF</label>
                        <input type="text" name="CPF" id="CPF" placeholder="000 000 000 00" required>
                    
                    
                        <label for="">Sexo</label>
                        <label for="mas">Masculino</label>
                        <input type="radio" name="genero" id="mas">

                        <label for="fem">Feminino</label>
                        <input type="radio" name="genero" id="fem">
                        <br>

                        <label for="celular">Celular</label>
                        <input type="text" id="celular-cadastro" required>
                    
                    
                        <label for="">E-mail</label>
                        <input type="email" id="email-cadastro">
                    
                    
                        <label for="">Data de Nascimento</label>
                        <input type="date">
                    

                </div>
                <!-- ============== -->
                <div class="endereco">
                    <h2>Endereço</h2>
                    
                        <label for="endereço">Endereço</label>
                        <input type="text" placeholder="Rua/Avenida + número" id="endereco">
                    
                    
                        <label for="bairro">Bairro</label>
                        <input type="text" placeholder="Bairro" id="bairro">
                    
                    
                        <label for="cidade">Cidade</label>
                        <input type="text" placeholder="Cidade" id="cidade">
                        <label for="estado" id="uf">Estado</label>

                        <select name="estado" id="estado">

                            <option value="0">Selecione</option>
                            <optgroup label="Norte"></optgroup>
                            <option value="1">AC</option>
                            <option value="2">AM</option>
                            <option value="3">AP</option>
                            <option value="4">PA</option>
                            <option value="5">RO</option>
                            <option value="6">RR</option>
                            <option value="7">TO</option>
                            <optgroup label="Nordeste"></optgroup>
                            <option value="8">MA</option>
                            <option value="9">PI</option>
                            <option value="10">CE</option>
                            <option value="11">RN</option>
                            <option value="12">PB</option>
                            <option value="13">PE</option>
                            <option value="14">AL</option>
                            <option value="15">SE</option>
                            <option value="16">BA</option>
                            <optgroup label="Centro-Oeste"></optgroup>
                            <option value="17">MT</option>
                            <option value="18">DF</option>
                            <option value="19">GO</option>
                            <option value="20">MS</option>
                            <optgroup label="Sul"></optgroup>
                            <option value="21">PR</option>
                            <option value="22">SC</option>
                            <option value="23">RS</option>
                            <optgroup label="Suldeste"></optgroup>
                            <option value="24">MG</option>
                            <option value="25">SP</option>
                            <option value="26">RJ</option>
                            <option value="27">ES</option>
                        </select>
                    
                    
                        <label for="cep">CEP</label>
                        <input type="text" placeholder="12345-000" id="CEP">
                        
                    </div>

                </div>
                <div class="button-cadastrar">
                    <button type="submit" id="cadastro">Cadastrar</button>
                </div>

                </form>
                
        </div>

        </section>
    
</body>
</html>