<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/cadastro.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Tooth Manager</title>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <%- include('./partials/navbar')%>

        <!--Corpo da pagina-->
        <div class="container-cadastro">
            <section>
                <form action="">
                    <div class="dados-pessoais">
                        <h1>Dados Pessoais</h1>
                        <div>
                            <label for="nome">Nome</label>
                            <input type="text" name="Nome" id="Nome" placeholder="Nome Completo" required>
                        </div>
                        <div>
                            <label for="CPF">CPF</label>
                            <input type="text" name="CPF" id="CPF" placeholder="000 000 000 00" required>
                        </div>
                        <div>
                            <label for="">Sexo</label>
                            <input type="radio" name="opcaomas" id="mas">
                            <label for="mas">Masculino</label>
                            <input type="radio" name="opcaofem" id="fem">
                            <label for="fem">Feminino</label>
                        </div>
                        <div>
                            <label for="celular">Celular</label>
                            <input type="text" required>
                        </div>
                        <div>
                            <label for="">E-mail</label>
                            <input type="email">
                        </div>
                        <div>
                            <label for="">Data de Nascimento</label>
                            <input type="date">
                        </div>

                    </div>
                    <div class="endereco">
                        <h2>Endereço</h2>
                        <div>
                            <label for="endereço">Endereço</label>
                            <input type="text" placeholder="Rua/Avenida + número">
                        </div>
                        <div>
                            <label for="bairro">Bairro</label>
                            <input type="text" placeholder="Bairro">
                        </div>
                        <div>
                            <label for="cidade">Cidade</label>
                            <input type="text" placeholder="Cidade">
                            <label for="estado" id="uf">Estado</label>

                            <select name="estado" id="estado">

                                <option value="0">Selecione</option>
                                <optgroup label="Norte"></optgroup>
                                <option value="1">AC</option>
                                <option value="2">AM</option>
                                <option value="3">AP</option>
                                <option value="4">PA</option>
                                <option value="5">RO</option>
                                <option value="6">RR</option>
                                <option value="7">TO</option>
                                <optgroup label="Nordeste"></optgroup>
                                <option value="8">MA</option>
                                <option value="9">PI</option>
                                <option value="10">CE</option>
                                <option value="11">RN</option>
                                <option value="12">PB</option>
                                <option value="13">PE</option>
                                <option value="14">AL</option>
                                <option value="15">SE</option>
                                <option value="16">BA</option>
                                <optgroup label="Centro-Oeste"></optgroup>
                                <option value="17">MT</option>
                                <option value="18">DF</option>
                                <option value="19">GO</option>
                                <option value="20">MS</option>
                                <optgroup label="Sul"></optgroup>
                                <option value="21">PR</option>
                                <option value="22">SC</option>
                                <option value="23">RS</option>
                                <optgroup label="Suldeste"></optgroup>
                                <option value="24">MG</option>
                                <option value="25">SP</option>
                                <option value="26">RJ</option>
                                <option value="27">ES</option>
                            </select>
                        </div>
                        <div>
                            <label for="cep">CEP</label>
                            <input type="text" placeholder="12345-000">
                        </div>
                    </div>
                </form>
            </section>
            <button class="botao-cadastrar">Cadastrar</button>
            <button class="botao-editar">Editar</button>
            <button class="botao-deletar">Deletar</button>
        </div>
    </main>

    <footer>
    </footer>
</body>

</html>