<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pagamentos.css">
    <!-- script -->
    <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
    <title>Toothmanager</title>
</head>
<body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
    
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
    
        <!-- <main> coloque seu codigo abaixo da REFERENCIA -->
            <main>
        <!-- Busca -->
        <div class="search-container">
            <div class="title-agenda">
                <h1>Cadastro</h1>
            </div>
    
    
          <form action="#" method="get">
            <input type="text" placeholder="Buscar.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>

        <!-- REFERENCIA -->





            </main>
</body>
</html>