<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/prontuario.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/prontuario2.css">
    <title>Tooth Manager</title>
</head>
<body>
        <%- include('./partials/header')%>
        <main>
        <%- include('./partials/navbar')%>

            <!--Corpo da pagina-->

                <section>
                    <div class="card-prontuario">
                        <h1>Joaozinho Fulano de Tal</h1>
                        <table class="tabela">
                            <tr>
                              <th>Agendamento</th>
                              <th>Serviço</th> 
                              <th>Idade</th>
                            </tr>
                            <tr>
                              <td>02/05/2022</td>
                              <td>horário</td>
                              <td>29</td>
                          </table>
                        <div>
                            <h2>Procedimento:</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Nesciunt expedita dolorum sed esse ipsam necessitatibus nam minus, quidem dolorem,
                                dolor voluptatem temporibus eligendi ipsum asperiores placeat earum dicta beatae eius!
                            </p>
                        </div>
                        <div>
                            <h3>Histórico e outros comentários:</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Nesciunt expedita dolorum sed esse ipsam necessitatibus nam minus, quidem dolorem,
                                dolor voluptatem temporibus eligendi ipsum asperiores placeat earum dicta beatae eius!
                            </p>
                        </div>
                    </div>
                    
                </section>            
              
        </main>
       
        
        <footer>

        </footer>
</body>
</html>