<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Acesso</title>

    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    <div class="tought-form-container">
  <a href="./login">Voltar</a>
    <h1>Criando Usuario:</h1>
    <form action="/toughts/add" method="POST"> <!-- temos que alterar -->
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite o título">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>
</body>
</html>