        <!-- AGENDA -->
        <div class="search-container">
            <div class="title-agenda">
                <h1>Agenda</h1>
            </div>
    
    
          <form action="#" method="get">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
    
        <div class="container-agenda">
            <form action="#" method="post">
                <label for="hora" name="hora">Hora:</label>
                <input type="text" id="hora">
                <label for="data" name="data">Data:</label>
                <input type="text" id="data">
                <label for="nome" name="nome">Nome:</label>
                <input type="text" id="nome">
                <button type="submit" id="btn-agenda-submit">Adicionar</button>
            </form>
            <br>
    
            <div class="cliente">
                <label for="">Hora:</label>
                <span>08:00</span>
                <label for="">Data:</label>
                <span>01/02/2022</span>
                <label for="cliente" name="cliente" id="cliente">Nome:</label>
                <span>Wictor Hiago</span>
                <button type="button" id="btn-deletar-cliente">Deletar</button>
                <button type="button" id="btn-edit-cliente">Editar</button>
            </div>
            <br>
        </div>