        <!-- Busca -->
        <div class="search-container">
            <div class="title-agenda">
                <h1>Agenda</h1><!-- trocar o titulo para o respectivo -->
            </div>
    
    
          <form action="#" method="get">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>