<section>
    <div class="container-caixa">
        <form action="">
            <div class="busca">
                <input type="text" placeholder="Buscar Cliente">
                <img src="/img/search.png" alt="">
            </div>

            <div class="container-botoes">

                <div class="datas">
                    <div>
                        <small>inicio</small>
                        <input type="date">
                    </div>

                    <div>
                        <small>final</small>
                        <input type="date">
                    </div>
                </div>

                <div class="botao">
                    <button>Nova Despesa</button>
                </div>
                
            </div>

            <div class="nomes-clientes">
                <table>
                    <tr>
                      <th>Data</th>
                      <th>ID</th>
                      <th>Nome do Cliente</th>
                      <th>Valor</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                      <td>11/11/111</td>
                      <td>#123</td>
                      <td>Fulano de tal</td>
                      <td>R$ 100,00</td>
                      <td>Pago</td>
                    </tr>
                    <tr>
                        <td>11/11/111</td>
                        <td>#123</td>
                        <td>Fulano de tal</td>
                        <td>R$ 100,00</td>
                        <td>Pago</td>
                    </tr>
                    <tr>
                        <td>11/11/111</td>
                        <td>#123</td>
                        <td>Fulano de tal</td>
                        <td>R$ 100,00</td>
                        <td>Pago</td>
                    </tr>
                    <tr>
                        <td>11/11/111</td>
                        <td>#123</td>
                        <td>Fulano de tal</td>
                        <td>R$ 100,00</td>
                        <td>Pago</td>
                    </tr>
                    <tr>
                        <td>11/11/111</td>
                        <td>#123</td>
                        <td>Fulano de tal</td>
                        <td>R$ 100,00</td>
                        <td>Pago</td>
                    </tr>
                    <tr>
                        <td>11/11/111</td>
                        <td>#123</td>
                        <td>Fulano de tal</td>
                        <td>R$ 100,00</td>
                        <td>Pago</td>
                    </tr>
                  </table>
            </div>

        </form>
    </div>
</section>