<header>
    <div class="logo">
        <img  src="/img/Logo.png" alt="logotipo">
    </div>
    <div class="title">
        <h1>Tooth Manager</h1>
    </div>
    <div class=login-suporte>
        <ul>
            <li><a href="../login"><img  src="img/Ellipse 1.png" alt="logout"></a></li>
            <li><a href=""><img  src="/img/Intersect.png" alt="suporte tecnico"></a></li>
        </ul>
    </div>
</header>
