<header>
    <div class="logo">
        <img  src="/img/Logo.png" alt="logotipo">
    </div>
    <div class="title">
        <h1>Tooth Manager</h1>
    </div>

    <!-- tenho que colocar a session aqui
          {{#if session.userid}}
      <li><a href="/toughts/dashboard">Dashboard</a></li>
      <li><a href="/logout">Sair</a></li>
      {{else}}
      <li><a href="/login">Entrar</a></li>
      <li><a href="/register">Registrar</a></li>
      {{/if}} -->
    <div class=login-suporte>
        <ul>
            <!-- temos que colocar o logout aqui dentro -->
            <li><a href="./login"><img  src="img/Ellipse 1.png" alt="logout"></a></li>
            <li><a href=""><img  src="/img/Intersect.png" alt="suporte tecnico"></a></li>
        </ul>
    </div>
</header>
