<aside>
    <nav class="navbar">
        <ul>
            <li><a href="./agenda">Agenda</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="./caixa">Caixa</a></li>
            <li><a href="./prontuario">Prontuário</a></li>
        </ul>
    </nav>
</aside>