<aside>
    <nav class="navbar">
        <ul>
            <li><img src="/img/calendar.png" alt="">
                <a href="./agenda">Agenda</a>
            </li>
            <li><img src="/img/cadastro.png" alt="">
                <a href="cadastro">Cadastro</a>
            </li>
            <li><img src="/img/registradora.png" alt="">
                <a href="./caixa">Caixa</a>
            </li>
            <li><img src="/img/edit.png" alt="">
                <a href="./prontuario">Prontuário</a>
            </li>
        </ul>
    </nav>
</aside>