<div>
    <div>
        <div>
            <small>Nome</small>
        </div>
        <div>
            <small>ID</small>
        </div>
        <div>
            <small>data do atendimento</small>
        </div>
        <div>
            <h1>Procediemnto:</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit a nobis?
                Nihil dolor laudantium quasi facilis sit incidunt at necessitatibus cupiditate.
                Porro optio quod veritatis. Neque ut quos dicta?
            </p>
        </div>
        <div>
            <h2>Historico e outros comentarios:</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit a nobis?
                Nihil dolor laudantium quasi facilis sit incidunt at necessitatibus cupiditate.
                Porro optio quod veritatis. Neque ut quos dicta?
            </p>
        </div>
    </div>
</div>