<div class="sidebar">
    <header> Tooth Manager</header>
    
    <a href="#" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Painel</span>
    </a>
    
    <a href="/agenda">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Agenda</span>
    </a>

    <a href="/cadastroteste">
        <i class="fa-solid fa-address-card"></i>
        <span>Cadastro</span>
    </a>

    <a href="/prontuarioteste">
        <i class="fa-solid fa-file-lines"></i>
        <span>Prontuario</span>
    </a>


    <a href="#">
        <i class="fa-solid fa-wallet"></i>
        <span>Pagamentos</span>
    </a>

    <a href="#">
        <i class="fas fa-sliders-h"></i>
        <span>Admin</span>
    </a>

    <a href="#">
        <i class="fas fa-envelope"></i>
        <span>Suporte</span>
    </a>

</div>